<h2>User's Location:</h2>
<p>Latitude: <%= @latitude %></p>
<p>Longitude: <%= @longitude %></p>
<p>City: <%= @city %></p>
<p>Country: <%= @country %></p>
<p>Address: <%= @address %></p>

<a href="/movies_nearby">Movies Playing Nearby</a>
